.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.gconf/
.gtk-bookmarks
.local/
.mission-control/
.profile
.pulse-cookie
.pulse/
.ssh/
.vim/.netrwhist
.viminfo
.xsession-errors
Desktop/
Downloads/
Person/
Work/
bin/
super/

