.ICEauthority
.Private
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.compiz/
.config/
.dbus/
.ecryptfs
.gconf/
.gtk-bookmarks
.hplip/
.lesshst
.local/
.mission-control/
.mozilla/
.pam_environment
.pki/
.profile
.pulse-cookie
.pulse/
.speech-dispatcher/
.ssh/
.vim/.netrwhist
.viminfo
.xsession-errors
.xsession-errors.old
Desktop/
Downloads/
Person/
Work/
bin/
minicom.log
nohup.out
test.txt

