[user]
	name = Wang Wencan
	email = wencan.wang@ihandysoft.com

[core]
    editor = vim
	excludesfile = /Users/wangwencan/.gitignore_global
[alias]    
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr, %cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%a, %F, %R'
    lt = log --branches --remotes --tags --graph --oneline --decorate --color
    ck = checkout
    tg = "!sh -c \"git tag -a $1 -m $1\" -"

# for default, push current branch
[push]
    default=current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[http]
	sslCAInfo = /etc/ssl/certs/git.blowfires.com.cer
	sslVerify = false
