.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.dmrc
.gconf/
.gtk-bookmarks
.local/
.mission-control/
.profile
.pulse-cookie
.pulse/
.ssh/
.vim/.netrwhist
.viminfo
.xsession-errors
Desktop/
Downloads/
Person/
Work/
super/
.gstreamer-0.10/
.lesshst
.pki/
.speech-dispatcher/
.xsession-errors.old
.never/bin/Eye/*.pyc
