[Desktop Entry]
Type=Application
Exec=eye
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Eye
Name=Eye
Comment[en_US]=
Comment=
