[Desktop Entry]
Type=Application
Exec=%HOMEDIR%/.never/bin/eye
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=eye
Name=eye
Comment[en_US]=
Comment=
